In [1]:
import pandas as pd
import numpy as np

In [2]:
childhood_violent_crime_to_load = "../Children-in-households-with-violent-crime_2014_0731_1400.csv"
college_enrollment_to_load = "../userssharedsdfperc18to24yoenrld24ycsre20002012.csv"

childhood_violent_crime = pd.read_csv(childhood_violent_crime_to_load)
college_enrollment = pd.read_csv(college_enrollment_to_load)

In [3]:
# Remove grand total, total for males, and total for females from this analysis
childhood_violent_crime_cleaned = childhood_violent_crime.dropna(subset = ["Sex", "Race/ethnicity"])
college_enrollment_cleaned = college_enrollment.dropna(subset = ["Sex", "Race/ethnicity"])

childhood_violent_crime_reduced = childhood_violent_crime_cleaned[["Race/ethnicity", "Sex", "Year",
                                                                  "Type of violent crime", "Percentage",
                                                                  "Standard Error on Percentage", "Count", 
                                                                  "Standard Error on Count"]]
college_enrollment_reduced = college_enrollment_cleaned[["Race/ethnicity", "Sex", "Year", "Percentage", 
                                                         "Standard Error on Percentage", "Count (in thousands)", 
                                                         "Standard Error on Count (in thousands)"]]

childhood_violent_crime_reduced.head()
#college_enrollment_reduced.head()

,Race/ethnicity,Sex,Year,Type of violent crime,Percentage,Standard Error on Percentage,Count,Standard Error on Count
117,"White, non-Hispanic",Male,2000,Violent crime,6.7,0.6,1868830.0,182685.1
118,"White, non-Hispanic",Male,2001,Violent crime,5.2,0.5,1410800.0,136673.6
119,"White, non-Hispanic",Male,2002,Violent crime,4.3,0.5,1121580.0,137437.1
120,"White, non-Hispanic",Male,2003,Violent crime,4.6,0.5,1198070.0,134083.0
121,"White, non-Hispanic",Male,2004,Violent crime,5.0,0.5,1241850.0,122063.9

In [20]:
child_crime_college_enrol = pd.merge(college_enrollment_reduced, childhood_violent_crime_reduced, 
                                     on = ["Race/ethnicity", "Sex", "Year"])

child_crime_college_enrol = child_crime_college_enrol.rename(columns = {"Percentage_x":"per_college_enroll", 
                                                                        "Standard Error on Percentage_x":"SE_college_enroll", 
                                                                       "Count (in thousands)":"college_enroll_count_thousands",
                                                                       "Standard Error on Count (in thousands)":"SE_college_enroll_count",
                                                                       "Percentage_y":"per_youth_crime_exposure",
                                                                       "Standard Error on Percentage_y":"SE_per_youth_crime_exposure",
                                                                       "Count":"youth_crime_exposure_count",
                                                                       "Standard Error on Count":"SE_youth_crime_exposure_count"})
child_crime_college_enrol

,Race/ethnicity,Sex,Year,per_college_enroll,SE_college_enroll,college_enroll_count_thousands,SE_college_enroll_count,Type of violent crime,per_youth_crime_exposure,SE_per_youth_crime_exposure,youth_crime_exposure_count,SE_youth_crime_exposure_count
0,"White, non-Hispanic",Male,2000,36.2%,0.79,3136.0,85.0,Violent crime,6.7,0.6,1868830.0,182685.1
1,"White, non-Hispanic",Male,2000,36.2%,0.79,3136.0,85.0,Serious violent crime,2.0,0.3,553060.0,78395.0
2,"White, non-Hispanic",Male,2000,36.2%,0.79,3136.0,85.0,Simple assault,5.0,0.5,1405860.0,149831.7
3,"White, non-Hispanic",Male,2001,37.2%,0.79,3291.0,87.0,Violent crime,5.2,0.5,1410800.0,136673.6
4,"White, non-Hispanic",Male,2001,37.2%,0.79,3291.0,87.0,Serious violent crime,1.6,0.2,432390.0,61717.5
...,...,...,...,...,...,...,...,...,...,...,...,...
307,"Two or more races, non-Hispanic",Female,2011,46%,5.07,123.0,16.0,Serious violent crime,5.6,2.3,20880.0,9317.5
308,"Two or more races, non-Hispanic",Female,2011,46%,5.07,123.0,16.0,Simple assault,7.0,2.6,26070.0,10677.3
309,"Two or more races, non-Hispanic",Female,2012,43.6%,5.13,152.0,23.0,Violent crime,9.8,3.4,38530.0,14618.0
310,"Two or more races, non-Hispanic",Female,2012,43.6%,5.13,152.0,23.0,Serious violent crime,NaN,NaN,NaN,NaN
311,"Two or more races, non-Hispanic",Female,2012,43.6%,5.13,152.0,23.0,Simple assault,9.8,3.4,38530.0,14618.0

In [23]:
for_data_analysis = child_crime_college_enrol[["Race/ethnicity", "Sex", "Year", "per_college_enroll", 
                                               "SE_college_enroll", "SE_per_youth_crime_exposure", 
                                               "per_youth_crime_exposure", "Type of violent crime"]]
for_data_analysis["per_college_enroll"] = for_data_analysis.per_college_enroll.str.replace('%', '').astype(float)
for_data_analysis

//anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,Race/ethnicity,Sex,Year,per_college_enroll,SE_college_enroll,SE_per_youth_crime_exposure,per_youth_crime_exposure,Type of violent crime
0,"White, non-Hispanic",Male,2000,36.2,0.79,0.6,6.7,Violent crime
1,"White, non-Hispanic",Male,2000,36.2,0.79,0.3,2.0,Serious violent crime
2,"White, non-Hispanic",Male,2000,36.2,0.79,0.5,5.0,Simple assault
3,"White, non-Hispanic",Male,2001,37.2,0.79,0.5,5.2,Violent crime
4,"White, non-Hispanic",Male,2001,37.2,0.79,0.2,1.6,Serious violent crime
...,...,...,...,...,...,...,...,...
307,"Two or more races, non-Hispanic",Female,2011,46.0,5.07,2.3,5.6,Serious violent crime
308,"Two or more races, non-Hispanic",Female,2011,46.0,5.07,2.6,7.0,Simple assault
309,"Two or more races, non-Hispanic",Female,2012,43.6,5.13,3.4,9.8,Violent crime
310,"Two or more races, non-Hispanic",Female,2012,43.6,5.13,NaN,NaN,Serious violent crime
311,"Two or more races, non-Hispanic",Female,2012,43.6,5.13,3.4,9.8,Simple assault

In [24]:
by_race = for_data_analysis.groupby("Race/ethnicity").mean()
by_race

,Year,per_college_enroll,SE_college_enroll,SE_per_youth_crime_exposure,per_youth_crime_exposure
Race/ethnicity,,,,,
"Black, non-Hispanic",2006,33.542308,1.766538,0.750000,4.028205
Hispanic,2006,26.684615,1.486538,0.616667,3.467949
"Two or more races, non-Hispanic",2006,39.975000,5.014500,3.541509,11.030189
"White, non-Hispanic",2006,42.176923,0.842308,0.419231,3.533333